.container {
  max-width: 50rem;
  padding: 3rem 1rem 1.5rem;
  /* Styles that make the footer stick to the bottom */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

